/* main page body */

section{
    background-color: rgb(12,12,12);
    font-family: 'Open Sans', sans-serif;
    
}

/* /////////////////////////////////////////////////////////// */
/* image home */

.medias {
    list-style-type: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    right: 3.3%;
    top: 21%;
}

.logo-medias {
    width: 60px;
    height: 60px;
    margin-bottom: 3rem;
    border: 1px solid white;
    background-color:white;
    border-radius: 50%;
}

/* /////////////////////////////////////////////////////////// */
/* Style navbar */

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 16px;
  width: 100%;
}

.navbar {
    margin-top: -1rem;
  
}

.navbar-toggler {
    margin-left: 2rem;
}

.navbar-nav {
    margin-left: 2rem;
}
/* //////////////////////////////////////////////////////////// */
/* Presentation section */

#presentation {
    color: rgb(215, 215, 215);
    padding: 10rem;

}

#cv {
    background-color: #51c44d;
    border-radius: 15rem;
    margin-top: 5rem;
    height: 3rem;
}

#cv:hover {
    background-color: rgb(215,215,215);
    color:black;
}

.list-comp{
    list-style: none;
}

.list-comp li{
    margin-bottom:0.7rem;
}

#illustration-morph {
    border-radius: 3rem;
}

/* separation line */
#separator {

    background-color: rgb(215,215,215);
    height: 0.5rem;
    width: 100%;
  }

  #separator-articles {

    background-color: rgb(215,215,215);
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 0.3rem;
    width: 100%;
  }

/* //////////////////////////////////////////////////////////// */
/* Book section */

#title-book {
    margin-top: 3rem;
    text-decoration: underline;
    text-underline-offset: 1rem;
    
}

.title-section {
    margin-top:1rem;
    text-align: center;
}

#book {
    color: rgb(215, 215, 215);
    padding-top: 3rem;
    padding-right: 10rem;
    padding-bottom: 10rem;
    padding-left: 10rem;

}

#first-illu {
    margin-top:10rem;
}

.article-title {
    margin-top: 10rem;

}

.link-site {
    text-decoration: none;
    color: sandybrown;
    font-size: 100%;
    transition: 0.5s;
}

.link-site:hover {
    color: #51c44d;
    font-size: 150%;

}





 /* ------------------------------------------------------------------------ */
/* RESPONSIVE */

@media screen and (max-width: 768px) {


    .medias {
        list-style-type: none;
        position: absolute;
        display: flex;
        justify-content: right;
        align-items: center;
        flex-direction: row;
        right: 3.3%;
        top: 80%;
    }

    .logo-medias {
        width: 40px;
        height: 40px;
        margin-right: 1rem;
        border: 1px solid white;
        background-color:white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #presentation {
        
        padding: 5rem;
    
    }

    #book {
        color: rgb(215, 215, 215);
        padding-top: 3rem;
        padding-right: 3rem;
        padding-left: 3rem;
    
    }

    .article-title {
        margin-top: 7rem;
    
    }


}